ollama/
venv/
__pycache__/
*.pyc
.git/
.env
scripts/
tests/
*.egg-info*
models/
.github/
build/
.bumpversion.cfg
.pre-commit-config.yaml
pytest.ini
./tests/

docker/Dockerfile
docker/debug.Dockerfile
docker/compose.yml
docker/mcp.compose.yml
